<h1>Search#index</h1>
<p>Find me in app/views/search/index.html.erb</p>
<%= form_with url: search_path, method: :get do |form| %>
  <%= form.label :query, "Search for books:" %>
  <%= form.text_field :query, placeholder: "Enter a book title or author..." %>
  <%= form.submit "Search" %>
<% end %>
<% if @books_data %>
  <% @books_data.each do |book| %>
    <div class="book-card">
      <h4><%= book[:title] %></h4>
      <p><%= book[:authors] %></p>
      <p><%= book[:google_id] %></p>
      <p><%= book[:main_category] %></p>
      <p><%= book[:description] %></p>
      <%= form_with url: books_path, method: :post, local: true do |form| %>
        <%= form.hidden_field :google_id, value: book[:google_id], name: "book[google_id]" %>
        <%= form.collection_select :status,
          UserBook.statuses.keys.map { |status| [status.titleize, status] },
          :last, :first, {include_blank: "Add Book ...", selected: book[:status]},
          { onchange: "this.form.submit();", name: "book[status]" }
        %>
      <% end %>
    </div>
  <% end %>
<% end %>
