<h1>Search#index</h1>
<p>Find me in app/views/search/index.html.erb</p>
<%= form_with url: search_path, method: :get do |form| %>
  <%= form.label :query, "Search for books:" %>
  <%= form.text_field :query, placeholder: "Enter a book title or author..." %>
  <%= form.submit "Search" %>
<% end %>
<% if @books %>
  <% @books.each do |book_hash| %>
    <div class="book-card">
      <h4><%= book_hash[:book][:title] %></h4>
      <p><%= book_hash[:book][:authors] %></p>
      <p><%= book_hash[:book][:google_id] %></p>
      <%= form_with url: books_path, method: :post, local: true do |form| %>
        <%= form.hidden_field :title, value: book_hash[:book][:title] %>
        <% book_hash[:book][:authors].each do |author| %>
          <%= form.hidden_field :authors, multiple: true, value: author %>
        <% end %>
        <%= form.hidden_field :google_id, value: book_hash[:book][:google_id] %>
        <%= form.label :status, book_hash[:status] %>
        <%= form.select :status, options_for_select([
            ["Add Book ..."],
            ["Want to Read", "want_to_read"],
            ["Reading", "reading"],
            ["Read", "read"],
          ], book_hash[:status]), {}, { onchange: "this.form.submit();" } %>
      <% end %>
    </div>
  <% end %>
<% end %>
