<div class="form-container">
  <%= form_with url: search_path, method: :get, class: "search-form" do |form| %>
    <%= form.text_field :query, placeholder: "Enter a book title or author...", class: "search-input" %>
    <%= form.submit "Search", class: "search-button"%>
  <% end %>
</div>
<%# results container to display books with current reading status if found in libray %>
<div class="search-results">
  <%= render partial: "book", collection: @books, as: :book if @books.present? %>
  <%= "Empty State Message Goes There" unless @books.present? %>
</div>