<%= render 'quote' %>
<div class="home-books-container">
  <% @books_by_status.each do |status, books| %>
    <div class="section-info">
      <h2><%= status.titleize %></h2>
      <p><%= pluralize(books.count, 'book') %></p>
      <%= link_to "View All >", books_path(sort: "title_asc", statuses: [status]) %>
    </div>
    <div class="books">
      <% books.each do |book| %>
        <div class="book">
          <%= link_to book_path(book), class: "book-link" do %>
            <%= image_tag book[:cover_url_thumbnail], alt: book[:title], class: "book-cover" %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>