<%# Expects locals: book %>
<div class="book-card" data-google-id="<%= book[:google_id] %>">
  <div class=image-status-container>
    <div class="book-image">
      <%= link_to book_path(book), class: "book-link" do %>
        <%= image_tag(book[:cover_url_thumbnail], alt: book[:title], class: "book-cover") %>
      <% end %>
    </div>
    <div class="book-status">
      <%= render partial: "books/reading_status", locals: {google_id: book[:google_id]} %>
    </div>
  </div>
  <div class="book-info">
    <h2 class="book-title"><%= book[:title] %></h2>
    <h3 class="book-author"><%= book[:authors].join(", ") %></h3>
    <section class="book-genre">
      <h4>Genre: </h4>
      <p><%= book[:main_category].join(", ") %></p>
    </section>
    <section class="book-description">
      <h4>About this Book:</h4>
      <p><%= book[:description].html_safe %></p>
    </section>
  </div>
</div>
