<%# Expects locals: book %>
<% book = user_book.book %>
<% review = user_book.review %>
<%# byebug %>
<div class="book-card" data-google-id="<%= book.google_id %>">
  <div class=image-status-container>
    <div class="book-image">
      <%= link_to book_path(book), class: "book-link" do %>
        <%= image_tag(book.cover_url_thumbnail, alt: book.title, class: "book-cover") %>
      <% end %>
    </div>
    <div class="book-status">
      <%= render partial: "update_status", locals: {user_book: user_book } %>
    </div>
    <% if user_book.status == "read" %>
      <div>
        <%= render partial: "review_button", locals: { user_book: user_book } %>
      </div>
    <% end %>
  </div>
  <div class="book-info">
    <h2 class="book-title"><%= book.title %></h2>
    <h3 class="book-author"><%= book.authors.join(", ") %></h3>
    <!-- New section for displaying review information -->
    <% if review.present? %>
      <div class="book-review">
        <h4>Your Review:</h4>
        <p><strong>Rating:</strong> <%= review.rating %></p>
        <p><strong>Comment:</strong> <%= review.comment %></p>
      </div>
    <% end %>
    <section class="book-genre">
      <h4>Genre: </h4>
      <p><%= book.main_category.join(", ") %></p>
    </section>
    <section class="book-description">
      <h4>About this Book:</h4>
      <p><%= book.description.html_safe %></p>
    </section>
  </div>
</div>
