<header class="header">
  <div class="header__logo">
    <%= link_to root_path do %>
      <%= image_tag "logo", alt: "Bookscape Logo" %>
    <% end %>
  </div>
  <nav class="header__actions">
    <%= link_to search_path, class: "header__search" do %>
      <%= image_tag "search_icon", alt: "Search", class: "header__icon" %>
    <% end %>
    <%= link_to user_books_path, class: "header__menu" do %>
      <%= image_tag "menu_icon", alt: "Menu", class: "header__icon" %>
    <% end %>
  </nav>
</header>