<header class="header" data-controller="menu">
  <div class="header__content">
    <div class="header__logo">
      <%= link_to root_path do %>
        <%= image_tag "logo",
        alt: "Bookscape Logo",
        data: { menu_target: "logo" },
        class: "header_logo" %>
      <% end %>
    </div>
    <nav class="header__actions">
      <%= link_to search_path, class: "header__search" do %>
        <%= image_tag "search_icon", alt: "Search", class: "header__icon" %>
      <% end %>
      <button data-action="menu#toggle">
        <%= image_tag "menu_icon", alt: "Menu", class: "header__icon", data: { menu_target: "icon" } %>
      </button>
    </nav>
  </div>
  <!-- Dropdown Menu for Mobile -->
  <nav class="header__dropdown" data-menu-target="dropdown">
    <ul>
      <li>Home</li>
      <li>My Books</li>
      <li>Charts</li>
      <li data-action="click->menu#toggleProfileDropdown">Profile</li>
      <!-- Second dropdown (for Profile) -->
      <ul class="header__profile-dropdown" data-menu-target="profileDropdown">
        <li><a href="#">View profile</a></li>
        <li><a href="#">Change password</a></li>
        <li><a href="#">Sign out</a></li>
      </ul>
    </ul>
  </nav>
</header>
