<header class="header">
  <div class="header__logo">
    <%= link_to root_path, class: "icon-link" do %>
      <%= image_tag "logo.svg", alt: "Bookscape Logo", class: "logo-img" %>
    <% end %>
  </div>
  <nav class="header__actions">
    <%= link_to search_path, class: "icon-link" do %>
      <%= image_tag "search_icon.svg", alt: "Search", class: "icon" %>
    <% end %>
    <%= link_to user_books_path, id: "mobile-only-link", class: "icon-link" do %>
      <%= image_tag "menu_icon", alt: "Menu", class: "icon" %>
    <% end %>
  </nav>
</header>